html,
body {
  width: 100%;
  height: 100%;
}

.color-primary {
  background-color: rgb(42, 43, 40);
}

body {
  background-image: url();
}
.thick-border-1 {
  border: solid 10px beige;
}
.thick-border-2 {
  border-width: 20px;
  border-style: solid;
  border-color: beige;
}
.outer-square {
  width: 360px;
  height: 360px;
  background-color: rgb(42, 43, 40);
}

.inner-square {
  width: 200px;
  height: 200px;
  background-color: red;
}

.inner-inner-circle {
  background-color: blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

/* Version 1 for centering: using FlexBox*/
.center-v1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Version 2 for centering*/

.center-v2