html,
body {
  width: 100%;
  height: 100%;
}

.color-primary {
  background-color: rgb(42, 43, 40);
}

.thick-border-1 {
  border: solid 5px rgb(170, 165, 187);
}
/*
.thick-border-2 {
  border-width: 20px;
  border-style: solid;
  border-color: beige;
}
*/
.outer-square {
  border-radius: 12.5%;
  width: 360px;
  height: 360px;
  background-color: rgb(42, 43, 40);
}

.inner-square {
  border-radius: 25%;
  width: 200px;
  height: 200px;
  background-color: red;
}

.inner-inner-circle {
  background-color: darkblue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.gif_bg {
  background-image: url(/img/spammy-bomb-med.gif);
  background-size: 94%;
  background-position: center;
}

/* Version 1 for centering: using FlexBox
The centering is applied to the direct child. */
.center-v1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Version 2 for centering
The centering is applied to the element that has this class.
.center-v2 {
  margin: auto;
  width: 60%;
  padding: 10px;
}
*/

/* Version 3 for centering */

.round-border-1 {
  border-radius: 6%;
}

.round-border-2 {
  border-radius: 12.5%;
}

.round-border-3 {
  border-radius: 25%;
}

.main-container {
  width: 820px;
  height: 280px;
  background-color: rgb(204, 185, 255);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.meme-container {
  width: 230px;
  height: 230px;
  background-color: rgb(53, 34, 46);
}

#meme-square-1 {
}

#meme-square-2 {
  background-image: url(/img/spammy-bomb-med.gif);
  background-size: cover;
  background-position: center;
}

#meme-square-3 {
}
