html,
body {
  width: 100%;
  height: 100%;
}

.color-primary {
  background-color: rgb(42, 43, 40);
}

body {
  background-image: url();
}
.thick-border-1 {
  border: solid 10px beige;
}
.thick-border-2 {
  border-width: 20px;
  border-style: solid;
  border-color: beige;
}
.outer-square {
  border-radius: 12.5%;
  width: 360px;
  height: 360px;
  background-color: rgb(42, 43, 40);
}

.inner-square {
  border-radius: 25%;
  width: 200px;
  height: 200px;
  background-color: red;
}

.inner-inner-circle {
  background-image: url(/img/spammy-bomb-med.gif);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

/* Version 1 for centering: using FlexBox
The centering is applied to the direct child. */
.center-v1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Version 2 for centering
The centering is applied to the element that has this class.
.center-v2 {
  margin: auto;
  width: 60%;
  padding: 10px;
}
*/

/* Version 3 for centering */
